@import "../../../../assets/variables";

.clickable {
  cursor: pointer;
}

.table-hover > tbody > tr.form-table-row:hover > td,
.form-table-row > td {
  background-color: #fff;
}

.add-item {
  position: relative;
  float: left;
  top: 2.3rem;
  left: 1rem;
  color: white;

  &:hover {
    color: $secondary-color;
  }
}
