table {
  width: 100%;
}

th.mat-header-cell {
  text-align: right;
}

td.mat-cell:first-child, td.mat-footer-cell:first-child, th.mat-header-cell:first-child {
  padding-right: 24px;
  padding-left: 0;
}

th.mat-header-cell:last-child {
  padding-right: 0;
}

.error {
  color: red;
}

.float-left {
  float: left;
}

.new-spare-input {
  margin-left: 1rem;
}
