<button *ngIf="!addingNewSpare" mat-button class="float-left" (click)="addingNewSpare=true; addingNewSpareType = false">
  <fa-icon [icon]="['fas', 'cart-plus']"></fa-icon>
  أضف قطعة غيار
</button>

<button *ngIf="!addingNewSpareType" mat-button class="float-left" (click)="addingNewSpareType=true; addingNewSpare = false">
  <fa-icon [icon]="['fas', 'plus']"></fa-icon>
  أضف نوع قطعة غيار
</button>

<form *ngIf="addingNewSpareType" [formGroup]="newSpareTypeForm" (submit)="addSpareType()">
  <mat-form-field class="new-spare-input">
    <input matInput formControlName="name" placeholder="إسم نوع قطعة الغيار">
  </mat-form-field>
  <button mat-button type="submit">
    أضف
  </button>
</form>

<form *ngIf="addingNewSpare" [formGroup]="newSpareForm" (submit)="addSparePart()">
  <mat-form-field class="new-spare-input">
    <input matInput formControlName="spareName" placeholder="إسم قطعة الغيار">
  </mat-form-field>
  <mat-form-field class="new-spare-input">
    <!--<input matInput formControlName="spareTypeName" placeholder="نوع قطعة الغيار"-->
    <!--[matAutocomplete]="spareTypes">-->

    <!--&lt;!&ndash;<input type="text" placeholder="Assignee" aria-label="Assignee" matInput [matAutocomplete]="auto">&ndash;&gt;-->
    <!--<mat-autocomplete #spareTypes="matAutocomplete" [displayWith]="displayFn">-->
    <!--<mat-option *ngFor="let spareType of filteredOptions | async" [value]="spareType">-->
    <!--{{spareType.name}}-->
    <!--</mat-option>-->
    <!--</mat-autocomplete>-->

    <mat-select formControlName="spareTypeID" placeholder="نوع قطعة الغيار">
      <mat-option *ngFor="let spareType of spareTypes" [value]="spareType.id">
        {{spareType.name}}
      </mat-option>
    </mat-select>

  </mat-form-field>

  <!--<mat-autocomplete #spareTypes="matAutocomplete">-->
  <!--<mat-option *ngFor="let spareType of spareTypes" [value]="spareType.id">{{spareType.name}}</mat-option>-->
  <!--&lt;!&ndash;<mat-option *ngFor="let spareType of spareParts" [value]="spareType.spareID">{{spareType.spareName}}</mat-option>&ndash;&gt;-->
  <!--</mat-autocomplete>-->

  <mat-form-field class="new-spare-input">
    <!--<input matInput formControlName="orderSerialNumber" placeholder=" رقم الطلب">-->

    <mat-select formControlName="orderID" placeholder="رقم الطلب">
      <mat-option *ngFor="let order of orders" [value]="order.id">
        {{order.serialNumber}}
      </mat-option>
    </mat-select>

  </mat-form-field>
  <button mat-button type="submit">
    أضف
  </button>
</form>

<table mat-table [dataSource]="spareParts" class="mat-elevation-z8">


  <!-- Spare Name Column -->
  <ng-container matColumnDef="spareName">
    <th mat-header-cell *matHeaderCellDef> إسم القطعة</th>
    <td mat-cell [ngClass]="{'error': spare.quantity==0}" *matCellDef="let spare"> {{spare.spareName}}</td>
  </ng-container>

  <!--&lt;!&ndash; Spare Qty Column &ndash;&gt;-->
  <!--<ng-container matColumnDef="quantity">-->
  <!--<th mat-header-cell *matHeaderCellDef> الكمية</th>-->
  <!--<td mat-cell [ngClass]="{'error': spare.quantity==0}" *matCellDef="let spare"> {{spare.quantity}}</td>-->
  <!--</ng-container>-->

  <!-- Location Column -->
  <ng-container matColumnDef="busName">
    <th mat-header-cell *matHeaderCellDef> المكان</th>
    <td mat-cell [ngClass]="{'error': spare.quantity==0}" *matCellDef="let spare">
      <a (click)="navigateToBusSpare(spare.busID)">{{spare.busName}}</a>
    </td>
  </ng-container>

  <!-- Order ID Column -->
  <ng-container matColumnDef="orderID">
    <th mat-header-cell *matHeaderCellDef> رقم الطلب</th>
    <td mat-cell [ngClass]="{'error': spare.quantity==0}" *matCellDef="let spare"> {{spare.orderSerialNumber}}</td>
  </ng-container>

   <!-- Location Column -->
  <ng-container *ngIf="busID === undefined" matColumnDef="actions">
  <th mat-header-cell *matHeaderCellDef></th>
  <td mat-cell [ngClass]="{'error': spare.quantity==0}" *matCellDef="let spare">
  <button mat-button *ngIf="spare.busID == -1 && spare.spareID !== editableSpare" (click)="assign(spare.spareID)">
  تخصيص لاتوبيس
  </button>
  <button mat-button *ngIf="spare.busID == -1 && spare.spareID === editableSpare" (click)="assign(spare.spareID)">
  حفظ
  </button>
  <button mat-button *ngIf="spare.busID != -1" (click)="assign(spare.spareID)">
  ارسلها للمخزن
  </button>
  </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<table mat-table style="margin-top: 2rem" *ngIf="legendDataReady" [dataSource]="sparePartsLegendItems"
       class="mat-elevation-z8">

  <!-- SpareType Name Column -->
  <ng-container matColumnDef="spareTypeName">
    <th mat-header-cell *matHeaderCellDef> إسم القطعة</th>
    <td mat-cell *matCellDef="let SparePartsLegendItem"> {{SparePartsLegendItem?.spareTypeName}}</td>
  </ng-container>

  <!-- SpareType Qty Column -->
  <ng-container matColumnDef="quantityAllocated">
    <th mat-header-cell *matHeaderCellDef> الكمية المستخدمة</th>
    <td mat-cell *matCellDef="let sparePartsLegendItem"> {{sparePartsLegendItem?.quantityAllocated}}</td>
  </ng-container>

  <ng-container matColumnDef="quantityAvailable">
    <th mat-header-cell *matHeaderCellDef> الكمية المتبقية</th>
    <td mat-cell *matCellDef="let sparePartsLegendItem"> {{sparePartsLegendItem?.quantityAvailable}}</td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="spareTypesDisplayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: spareTypesDisplayedColumns;"></tr>
</table>
