@import "../../../assets/variables";


.card {
  text-align: center;
  color: white;

  .card-header {
    background-color: $primary-color;
  }

  .card-body {
    background-color: $secondary-color;
  }
}

.bus-img {
  width: 100%;
  height: 81%;
  margin-top: 1.5rem;
}

.license-plate {
  position: relative;
  text-align: center;
  color: black;
  font-weight: bolder;
  width: 63%;

  .license-bg {
    width: 100%;
  }

  .body {
    .letters {
      position: absolute;
      bottom: 16%;
      right: 10%;
      font-size: 100%;

      input {
        position: absolute;
        width: 3rem;
        right: 0;
        border: 0;
        background: transparent;
      }

    }


    .numbers {
      position: absolute;
      bottom: 16%;
      left: 10%;
      font-size: 100%;

      input {
        position: absolute;
        width: 3rem;
        left: -0.7rem;
        border: 0;
        background: transparent;
      }
    }
  }
}

nav {
  .nav.nav-tabs{
    border: none;
    background: $primary-color;
    border-radius:0;
  }

  div {
    a {
      cursor: pointer;
      &.nav-item.nav-link {
        border: none;
        padding: 18px 25px;
        color:#fff;
        border-radius:0;

        &:hover, &:focus, &.active {
          border: none;
          background: $secondary-color;
          color:#fff;
          border-radius:0;
          transition:background 0.20s linear;
        }

      }
    }
  }

}


.tab-content{
  background: #fdfdfd;
  line-height: 25px;
  border: 1px solid #ddd;
  border-top:5px solid $secondary-color;
  border-bottom:5px solid $secondary-color;
  padding:20px 10px;
}
