<app-layout>
  <div class="container">
    <div class="row">
      <h1 class="mt-4">أتوبيس {{bus?.name}}</h1>

      <div class="col">
        <div class="float-left">
          <div class="license-plate float-left">
            <img class="license-bg" src="assets/license.png">
            <div class="body">
              <span class="letters">{{bus?.platesLetters}}</span>
              <span class="numbers">{{bus?.platesNumbers}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>


    <hr>
    <div class="row">
      <!-- Post Content Column -->
      <div class="col-md-8">

        <img class="bus-img" src="../../../assets/cs_bus.jpg" alt="Photo of the bus">

      </div>

      <div class="col-md-4">
        <div class="card my-4 text-white">
          <h5 class="card-header">ملخص حالة الأتوبيس </h5>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-6">
                <ngx-gauge
                  [value]="bus?.busCondition"
                  [min]="0"
                  [max]="4"
                  [size]="100"
                  [thick]="20"
                  [cap]="'round'"
                  [label]="'الحالة'"
                  [thresholds]="{
                    '4': {color: 'green'},
                    '3': {color: 'yellow'},
                    '2': {color: 'orange'},
                    '1': {color: 'red'}
                    }"></ngx-gauge>
              </div>
              <div class="col-sm-6" *ngIf="!bus?.inOperation">
                <i class="fa fa-4x fa-wrench"></i>
                <div><b>في الصيانة</b></div>
              </div>
              <div class="col-sm-6" *ngIf="bus?.inOperation">
                <i class="fa fa-4x fa-bus"></i>
                <div><b>في التشغيل</b></div>
              </div>
            </div>
          </div>
        </div>
        <div class="card my-4 text-white">
          <h5 class="card-header">كيلومترات</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                <ng2-odometer
                  style="direction: ltr!important;"
                  [number]="number"
                  [theme]="'car'"
                ></ng2-odometer>
              </div>
            </div>
          </div>
        </div>

        <!--<div class="license-plate">-->
        <!--<img class="license-bg" src= "assets/license.png">-->
        <!--<div class="body">-->
        <!--<span class="letters">{{bus?.platesLetters}}</span>-->
        <!--<span class="numbers">{{bus?.platesNumbers}}</span>-->
        <!--</div>-->
        <!--</div>-->
      </div>


      <div class="col-md-12 mt-5">
        <nav>
          <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
            <a class="nav-item nav-link" routerLinkActive="active" routerLink="events">السجلات</a>
            <a class="nav-item nav-link">الرحلات</a>
            <a class="nav-item nav-link">قطع الغيار</a>
          </div>
        </nav>
        <div class="tab-content">
          <router-outlet></router-outlet>
        </div>
      </div>

    </div>


  </div>
</app-layout>


<!--<div class="col-lg-8">-->
<!--&lt;!&ndash; Title &ndash;&gt;-->

<!--&lt;!&ndash; Author &ndash;&gt;-->
<!--<p class="lead">-->
<!--by-->
<!--<a href="#">Start Bootstrap</a>-->
<!--</p>-->

<!--<hr>-->

<!--&lt;!&ndash; Date/Time &ndash;&gt;-->
<!--<p>Posted on January 1, 2018 at 12:00 PM</p>-->
<!--<hr>-->

<!--&lt;!&ndash; Preview Image &ndash;&gt;-->
<!--<img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">-->

<!--<hr>-->

<!--&lt;!&ndash; Post Content &ndash;&gt;-->
<!--<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, vero, obcaecati, aut, error-->
<!--quam sapiente nemo saepe quibusdam sit excepturi nam quia corporis eligendi eos magni recusandae laborum minus-->
<!--inventore?</p>-->
<!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, tenetur natus doloremque laborum quos iste-->
<!--ipsum rerum obcaecati impedit odit illo dolorum ab tempora nihil dicta earum fugiat. Temporibus,-->
<!--voluptatibus.</p>-->
<!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, doloribus, dolorem iusto blanditiis unde eius-->
<!--illum consequuntur neque dicta incidunt ullam ea hic porro optio ratione repellat perspiciatis. Enim,-->
<!--iure!</p>-->
<!--<blockquote class="blockquote">-->
<!--<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>-->
<!--<footer class="blockquote-footer">Someone famous in-->
<!--<cite title="Source Title">Source Title</cite>-->
<!--</footer>-->
<!--</blockquote>-->

<!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, nostrum, aliquid, animi, ut quas placeat-->
<!--totam sunt tempora commodi nihil ullam alias modi dicta saepe minima ab quo voluptatem obcaecati?</p>-->

<!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, dolor quis. Sunt, ut, explicabo, aliquam-->
<!--tenetur ratione tempore quidem voluptates cupiditate voluptas illo saepe quaerat numquam recusandae? Qui,-->
<!--necessitatibus, est!</p>-->

<!--<hr>-->

<!--&lt;!&ndash; Comments Form &ndash;&gt;-->
<!--<div class="card my-4">-->
<!--<h5 class="card-header">Leave a Comment:</h5>-->
<!--<div class="card-body">-->
<!--&lt;!&ndash;<form >&ndash;&gt;-->
<!--<div class="form-group">-->
<!--<textarea class="form-control" rows="3"></textarea>-->
<!--</div>-->
<!--<button type="submit" class="btn btn-primary">Submit</button>-->
<!--&lt;!&ndash;</form>&ndash;&gt;-->
<!--</div>-->
<!--</div>-->

<!--&lt;!&ndash; Single Comment &ndash;&gt;-->
<!--<div class="media mb-4">-->
<!--<img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">-->
<!--<div class="media-body">-->
<!--<h5 class="mt-0">Commenter Name</h5>-->
<!--Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio,-->
<!--vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec-->
<!--lacinia congue felis in faucibus.-->
<!--</div>-->
<!--</div>-->

<!--&lt;!&ndash; Comment with nested comments &ndash;&gt;-->
<!--<div class="media mb-4">-->
<!--<img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">-->
<!--<div class="media-body">-->
<!--<h5 class="mt-0">Commenter Name</h5>-->
<!--Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio,-->
<!--vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec-->
<!--lacinia congue felis in faucibus.-->

<!--<div class="media mt-4">-->
<!--<img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">-->
<!--<div class="media-body">-->
<!--<h5 class="mt-0">Commenter Name</h5>-->
<!--Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus-->
<!--odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate-->
<!--fringilla. Donec lacinia congue felis in faucibus.-->
<!--</div>-->
<!--</div>-->

<!--<div class="media mt-4">-->
<!--<img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">-->
<!--<div class="media-body">-->
<!--<h5 class="mt-0">Commenter Name</h5>-->
<!--Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus-->
<!--odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate-->
<!--fringilla. Donec lacinia congue felis in faucibus.-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--&lt;!&ndash; Sidebar Widgets Column &ndash;&gt;-->
<!--<div class="col-md-4">-->

<!--&lt;!&ndash; Search Widget &ndash;&gt;-->
<!--<div class="card my-4">-->
<!--<h5 class="card-header">Search</h5>-->
<!--<div class="card-body">-->
<!--<div class="input-group">-->
<!--<input type="text" class="form-control" placeholder="Search for...">-->
<!--<span class="input-group-btn">-->
<!--<button class="btn btn-secondary" type="button">Go!</button>-->
<!--</span>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--&lt;!&ndash; Categories Widget &ndash;&gt;-->
<!--<div class="card my-4">-->
<!--<h5 class="card-header">Categories</h5>-->
<!--<div class="card-body">-->
<!--<div class="row">-->
<!--<div class="col-lg-6">-->
<!--<ul class="list-unstyled mb-0">-->
<!--<li><a href="#">Web Design</a></li>-->
<!--<li><a href="#">HTML</a></li>-->
<!--<li><a href="#">Freebies</a></li>-->
<!--</ul>-->
<!--</div>-->
<!--<div class="col-lg-6">-->
<!--<ul class="list-unstyled mb-0">-->
<!--<li><a href="#">JavaScript</a></li>-->
<!--<li><a href="#">CSS</a></li>-->
<!--<li><a href="#">Tutorials</a></li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--&lt;!&ndash; Side Widget &ndash;&gt;-->
<!--<div class="card my-4">-->
<!--<h5 class="card-header">Side Widget</h5>-->
<!--<div class="card-body">-->
<!--You can put anything you want inside of these side widgets. They are easy to use, and feature the new-->
<!--Bootstrap 4 card containers!-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
