@import "../../../assets/variables";


.card {
  text-align: center;
  color: white;

  .card-header {
    background-color: $primary-color;
  }

  .card-body {
    background-color: $secondary-color;
  }
}


.license-plate {
  position: relative;
  text-align: center;
  color: black;
  font-weight: bolder;
  font-size: large;
  width: 7rem;

  .license-bg {
    height: 4rem;
    width: 7rem;
  }

  .body {
    .letters {
      position: absolute;
      top: 1.8rem;
      right: 0.6rem;

      input {
        position: absolute;
        width: 3rem;
        right: 0;
        border: 0;
        background: transparent;
      }

    }


    .numbers {
      position: absolute;
      top: 1.8rem;
      left: 0.6rem;

      input {
        position: absolute;
        width: 3rem;
        left: -0.7rem;
        border: 0;
        background: transparent;
      }
    }
  }
}
