<app-layout>
  <div class="row">
    <h1>أتوبيس {{bus?.name}}</h1>

    <div class="col">
      <div class="float-left">
        <div class="license-plate float-left">
          <img class="license-bg" src="assets/license.png">
          <div class="body">
            <span class="letters">{{bus?.platesLetters}}</span>
            <span class="numbers">{{bus?.platesNumbers}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-8">

      <img class="bus-img" src="../../../assets/cs_bus.jpg" alt="Photo of the bus">

    </div>

    <div class="col-md-4">
      <div class="card my-4 text-white">
        <h5 class="card-header">ملخص حالة الأتوبيس </h5>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-6">
              <ngx-gauge
                [value]="bus?.condition"
                [min]="0"
                [max]="4"
                [size]="100"
                [thick]="20"
                [cap]="'round'"
                [label]="'الحالة'"
                [thresholds]="{
                    '4': {color: 'darkgreen'},
                    '3': {color: 'green'},
                    '2': {color: 'yellow'},
                    '1': {color: 'red'}
                    }"></ngx-gauge>
            </div>
            <div class="col-sm-6" *ngIf="!bus?.inOperation">
              <fa-icon [icon]="['fas', 'wrench']" size="4x"></fa-icon>
              <div><b>في الصيانة</b></div>
            </div>
            <div class="col-sm-6" *ngIf="bus?.inOperation">
              <fa-icon [icon]="['fas', 'bus']" size="4x"></fa-icon>
              <div><b>في التشغيل</b></div>
            </div>
          </div>
        </div>
      </div>
      <div class="card my-4 text-white">
        <h5 class="card-header">كيلومترات</h5>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <ng2-odometer
                style="direction: ltr!important;"
                [number]="bus?.km"
                [theme]="'car'"
              ></ng2-odometer>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-12">
      <nav>
        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
          <a class="nav-item nav-link" routerLinkActive="active" routerLink="events">السجلات</a>
          <a class="nav-item nav-link">الرحلات</a>
          <a class="nav-item nav-link">قطع الغيار</a>
        </div>
      </nav>
      <div class="tab-content">
        <router-outlet></router-outlet>
      </div>
    </div>

  </div>
</app-layout>
