.error {
  margin: 0 auto;
  text-align: center;
}

.error-code {
  bottom: 60%;
  color: #2d353c;
  font-size: 6rem;
  line-height: 6.25rem;
}

.error-desc {
  font-size: 0.75rem;
  color: #647788;
}

.m-b-10 {
  margin-bottom: 1rem!important;
}

.m-b-20 {
  margin-bottom: 1rem!important;
}

.m-t-20 {
  margin-top: 5rem!important;
}
