<div class="error-wrapper">
  <div class="error-container">
    <div class="error">
      <div class="error-title">
        Error
      </div>
      <div class="error-number">
        404
      </div>
      <div class="error-description">

          عذراً ، ولكن الصفحة التي تبحث عنها غير موجودة. <BR/>
          حاول تحديث الصفحة أو انقر على الزر أدناه للرجوع إلى الصفحة الرئيسية.

      </div>

      <ul class="error-actions">
        <li>
          <a href="">
            <fa-icon [icon]="['fas', 'left-arrow']" data-toggle="tooltip" title="" data-original-title="BACK"></fa-icon>

          </a>
        </li>
        <li>
          <a href="">
            home
            <fa-icon [icon]="['fas', 'home']" data-toggle="tooltip" title="" data-original-title="HOME"></fa-icon>

          </a>
        </li>
        <li>
          <a href="">
            <fa-icon [icon]="['fas', 'mail']" data-toggle="tooltip" title="" data-original-title="CONTACT US"></fa-icon>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
