<div [ngClass]="{'right-side': tripInView}">
  <table mat-table [dataSource]="trips" class="mat-elevation-z8">

    <!-- Trip Destination Column -->
    <ng-container matColumnDef="destination">
      <th mat-header-cell *matHeaderCellDef>الوجهة</th>
      <td mat-cell *matCellDef="let trip">
        {{trip.destination}}
      </td>
    </ng-container>

    <!-- Bus Name Column -->
    <ng-container matColumnDef="bus">
      <th mat-header-cell *matHeaderCellDef>الاتوبيس</th>
      <td mat-cell *matCellDef="let trip">
        {{trip.busName}}
      </td>
    </ng-container>

    <!-- Client Name Column -->
    <ng-container matColumnDef="client">
      <th mat-header-cell *matHeaderCellDef>العميل</th>
      <td mat-cell *matCellDef="let trip">
        {{trip.client}}
      </td>
    </ng-container>

    <!-- Trip Date Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>تاريخ الرحلة</th>
      <td mat-cell *matCellDef="let trip">
        {{trip.tripDate | date:'longDate'}}
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row [ngClass]="{'highlight-row': tripInView && tripInView.id === row.id}" (click)="viewTrip(row)"
        *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<div class="lef-side" *ngIf="tripInView">
  <div>
    <label>الوجهة:</label>
    <span>{{tripInView.destination}}</span>
  </div>
  <div>
    <label>العميل:</label>
    <span>{{tripInView.client}}</span>
  </div>
  <div>
    <label>الكيلومترات عند البداية:</label>
    <span>{{tripInView.kmStart}}</span>
  </div>
  <div>
    <label>الكيلومترات عند النهاية:</label>
    <span>{{tripInView.kmEnd}}</span>
  </div>
  <div>
    <label>السائق:</label>
    <span>{{tripInView.driverID}}</span>
  </div>
  <div>
    <label>الاتوبيس:</label>
    <span>{{tripInView.busName}}</span>
  </div>
  <div>
    <label>الرقم المسلسل:</label>
    <span>{{tripInView.serialNumber}}</span>
  </div>
  <div>
    <label>سعة الاتوبيس:</label>
    <span>{{tripInView.capacity}}</span>
  </div>
  <div>
    <label>تاريخ الرحلة:</label>
    <span>{{tripInView.tripDate | date:'longDate'}}</span>
  </div>
  <div>

    {{tripInView.price_basePrice}}
    {{tripInView.price_taxes}}
    {{tripInView.price_tips}}
    {{tripInView.price_tolls}}
    {{tripInView.price_repairs}}
  </div>

</div>
