table {
  width: 100%;
}

th.mat-header-cell {
  text-align: right;
}

td.mat-cell:first-child, td.mat-footer-cell:first-child, th.mat-header-cell:first-child {
  padding-right: 24px;
  padding-left: 0;
}

th.mat-header-cell:last-child {
  padding-right: 0;
}

.right-side {
  width: 50%;
  display: inline-block;
}

.lef-side {
  width: 48%;
  padding: 1rem;
  display: inline-block;
  margin-right: 1%;

  height: 5rem;
}

td {
  color: inherit;
}

.highlight-row {
  color: white;
  background: #3f51b5;
}

label {
  font-weight: bold;
  color: darkgray;
  margin: 0 1rem;
}

span {
  font-weight: bolder;
}
