<div class="row">
  <button *ngIf="!addingNewTrip" mat-button (click)="addingNewTrip=true">
    <fa-icon [icon]="['fas', 'plus']"></fa-icon>
    أضف رحلة
  </button>
</div>

<form *ngIf="addingNewTrip" [formGroup]="newTripForm" (submit)="addNewTrip()">
  <mat-form-field>
    <input matInput formControlName="destination" placeholder="الوجهة">
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="client" placeholder="العميل">
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="kmStart" placeholder="الكيلومترات عند البداية">
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="kmEnd" placeholder="الكيلومترات عند النهاية">
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="driverID" placeholder="السائق">
  </mat-form-field>
  <mat-form-field>
    <mat-select formControlName="busID" placeholder="الاتوبيس">
      <mat-option *ngFor="let bus of buses" [value]="bus.id">
        {{bus.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="serialNumber" placeholder="الرقم المسلسل">
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="capacity" placeholder="سعة الاتوبيس">
  </mat-form-field>
  <mat-form-field>
    <input matInput [matDatepicker]="tripDate" formControlName="tripDate" placeholder="تاريخ الرحلة">
    <mat-datepicker-toggle matSuffix [for]="tripDate"></mat-datepicker-toggle>
    <mat-datepicker #tripDate></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="price_basePrice" placeholder="base price">
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="price_taxes" placeholder="taxes">
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="price_tips" placeholder="tips">
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="price_tolls" placeholder="tolls">
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="price_repairs" placeholder="repairs">
  </mat-form-field>


  <button mat-button type="submit">
    أضف
  </button>
</form>


<div [ngClass]="{'right-side': tripInView}">
  <table mat-table [dataSource]="trips" class="mat-elevation-z8">

    <!-- Trip Destination Column -->
    <ng-container matColumnDef="destination">
      <th mat-header-cell *matHeaderCellDef>الوجهة</th>
      <td mat-cell *matCellDef="let trip">
        {{trip.destination}}
      </td>
    </ng-container>

    <!-- Bus Name Column -->
    <ng-container matColumnDef="bus">
      <th mat-header-cell *matHeaderCellDef>الاتوبيس</th>
      <td mat-cell *matCellDef="let trip">
        {{trip.busName}}
      </td>
    </ng-container>

    <!-- Client Name Column -->
    <ng-container matColumnDef="client">
      <th mat-header-cell *matHeaderCellDef>العميل</th>
      <td mat-cell *matCellDef="let trip">
        {{trip.client}}
      </td>
    </ng-container>

    <!-- Trip Date Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>تاريخ الرحلة</th>
      <td mat-cell *matCellDef="let trip">
        {{trip.tripDate | date:'longDate'}}
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row [ngClass]="{'highlight-row': tripInView && tripInView.id === row.id}" (click)="viewTrip(row)"
        *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<div class="lef-side" *ngIf="tripInView && editableTrip !== tripInView.id">
  <div>
    <label>الوجهة:</label>
    <span>{{tripInView.destination}}</span>
  </div>
  <div>
    <label>العميل:</label>
    <span>{{tripInView.client}}</span>
  </div>
  <div>
    <label>الكيلومترات عند البداية:</label>
    <span>{{tripInView.kmStart}}</span>
  </div>
  <div>
    <label>الكيلومترات عند النهاية:</label>
    <span>{{tripInView.kmEnd}}</span>
  </div>
  <div>
    <label>السائق:</label>
    <span>{{tripInView.driverID}}</span>
  </div>
  <div>
    <label>الاتوبيس:</label>
    <span>{{tripInView.busName}}</span>
  </div>
  <div>
    <label>الرقم المسلسل:</label>
    <span>{{tripInView.serialNumber}}</span>
  </div>
  <div>
    <label>سعة الاتوبيس:</label>
    <span>{{tripInView.capacity}}</span>
  </div>
  <div>
    <label>تاريخ الرحلة:</label>
    <span>{{tripInView.tripDate | date:'longDate'}}</span>
  </div>
  <div>

    {{tripInView.price_basePrice}}
    {{tripInView.price_taxes}}
    {{tripInView.price_tips}}
    {{tripInView.price_tolls}}
    {{tripInView.price_repairs}}
  </div>

  <button mat-button class="float-left" (click)="editTrip(tripInView)">
    <fa-icon [icon]="['fas', 'edit']"></fa-icon>
    تعديل رحلة
  </button>
</div>

<div class="lef-side" *ngIf="tripInView && editableTrip === tripInView.id">
  <form [formGroup]="editTripForm" (submit)="updateTrip()">
    <mat-form-field>
      <input matInput formControlName="destination" placeholder="الوجهة">
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="client" placeholder="العميل">
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="kmStart" placeholder="الكيلومترات عند البداية">
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="kmEnd" placeholder="الكيلومترات عند النهاية">
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="driverID" placeholder="السائق">
    </mat-form-field>
    <mat-form-field>
      <mat-select formControlName="busID" placeholder="الاتوبيس">
        <mat-option *ngFor="let bus of buses" [value]="bus.id">
          {{bus.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="serialNumber" placeholder="الرقم المسلسل">
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="capacity" placeholder="سعة الاتوبيس">
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="tripDate" formControlName="tripDate" placeholder="تاريخ الرحلة">
      <mat-datepicker-toggle matSuffix [for]="tripDate"></mat-datepicker-toggle>
      <mat-datepicker #tripDate></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="price_basePrice" placeholder="base price">
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="price_taxes" placeholder="taxes">
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="price_tips" placeholder="tips">
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="price_tolls" placeholder="tolls">
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="price_repairs" placeholder="repairs">
    </mat-form-field>


    <button mat-button type="submit">
      تعديل
    </button>
    <button mat-button (click)="cancelEdit()">
      الغاء
    </button>
  </form>
</div>
