.bus-div {
  margin-bottom: 1rem;
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.clickable {
  cursor: pointer;
}

mat-card-header {
  margin-bottom: 2rem;
}

mat-card-subtitle {
  left: 1rem;
  position: absolute;
  top: 1rem;
}

.license-plate {

  position: relative;
  text-align: center;
  color: black;
  font-weight: bolder;
  font-size: large;

  .license-bg {
    height: 4rem;
    width: 7rem;
  }

  .body {
    .letters {
      position: absolute;
      top: 1.8rem;
      right: 0.6rem;

      input {
        position: absolute;
        width: 3rem;
        right: 0;
        border: 0;
        background: transparent;
      }

    }


    .numbers {
      position: absolute;
      top: 1.8rem;
      left: 0.6rem;

      input {
        position: absolute;
        width: 3rem;
        left: -0.7rem;
        border: 0;
        background: transparent;
      }
    }
  }
}

.overlay-parent {
  position: relative;

  .under-lay {
    position: absolute;
    top: 0;
    right: 0;

    filter: blur(10px);
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
  }

  .overlay-dim {
    position: absolute;
    top: 0;
    right: 0;
    width: 25rem;
    height: 24rem;
    z-index: 9999;
    background-color: rgba(128, 128, 128, 0.5);

    .overlay-container {
      position: absolute;
      top: 24%;
      left: 35%;
      opacity: 1;
      color: white;
      cursor: pointer;

      .overlay-text {
        margin-top: 1rem;
        font-size: larger;
        font-weight: 600;
      }
    }
  }

}


