<!--<h2>Register</h2>-->
<!--<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">-->
  <!--<div class="form-group">-->
    <!--<label for="firstName">First Name</label>-->
    <!--<input type="text" id="firstName" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />-->
    <!--<div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">-->
      <!--<div *ngIf="f.firstName.errors.required">First Name is required</div>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="form-group">-->
    <!--<label for="lastName">Last Name</label>-->
    <!--<input type="text" id="lastName" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />-->
    <!--<div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">-->
      <!--<div *ngIf="f.lastName.errors.required">Last Name is required</div>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="form-group">-->
    <!--<label for="username">Username</label>-->
    <!--<input type="text" id="username" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />-->
    <!--<div *ngIf="submitted && f.username.errors" class="invalid-feedback">-->
      <!--<div *ngIf="f.username.errors.required">Username is required</div>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="form-group">-->
    <!--<label for="password">Password</label>-->
    <!--<input type="password" id="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />-->
    <!--<div *ngIf="submitted && f.password.errors" class="invalid-feedback">-->
      <!--<div *ngIf="f.password.errors.required">Password is required</div>-->
      <!--<div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="form-group">-->
    <!--<button [disabled]="loading" class="btn btn-primary">Register</button>-->
    <!--<img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />-->
    <!--<a [routerLink]="['/login']" class="btn btn-link">Cancel</a>-->
  <!--</div>-->
<!--</form>-->


<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100 p-l-50 p-r-50 p-t-77 p-b-30 p-rel">

      <img src="assets/logo.png" class="logo">

      <form class="login100-form validate-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
					<span class="login100-form-title p-b-55">
            إنشاء حساب
          </span>

        <div class="wrap-input100 validate-input m-b-16" data-validate = "">
          <input class="input100" placeholder="الاسم" formControlName="name" required>
          <span class="focus-input100"></span>
          <span class="symbol-input100">
							<span class="fa fa-user"></span>
						</span>
        </div>

        <div class="wrap-input100 validate-input m-b-16" data-validate = "من فضلك أدخل إسم المستخدم">
          <input class="input100" type="text" placeholder="إسم المستخدم" formControlName="username" required>
          <span class="focus-input100"></span>
          <span class="symbol-input100">
							<span class="fa fa-user"></span>
						</span>
        </div>

        <div class="wrap-input100 validate-input m-b-16" data-validate = "من فضلك أدخل كلمة المرور">
          <input class="input100" type="password" placeholder="كلمة السر" formControlName="password" required>
          <span class="focus-input100"></span>
          <span class="symbol-input100">
							<span class="fa fa-lock"></span>
						</span>
        </div>

        <div class="wrap-input100 validate-input m-b-16" data-validate = "من فضلك أدخل كلمة المرور">
          <input class="input100" type="password" placeholder="تأكيد كلمة السر" formControlName="confirmPassword" required>
          <span class="focus-input100"></span>
          <span class="symbol-input100">
							<span class="fa fa-lock"></span>
						</span>
        </div>

        <div class="wrap-input100 validate-input m-b-16" data-validate = "">
          <input class="input100" placeholder="البريد الإلكتروني" formControlName="email" required>
          <span class="focus-input100"></span>
          <span class="symbol-input100">
							<span class="fa fa-envelope"></span>
						</span>
        </div>

        <div class="wrap-input100 validate-input m-b-16" data-validate = "">
          <input class="input100" placeholder="رقم المحمول" formControlName="mobile" required>
          <span class="focus-input100"></span>
          <span class="symbol-input100">
							<span class="fa fa-phone"></span>
						</span>
        </div>

        <div class="container-login100-form-btn p-t-25">
          <button type="submit" class="login100-form-btn">
            انشئ حساب
          </button>
        </div>


        <div class="text-center w-full p-t-115">
						<span class="txt1">
							هل تملك حساب؟
						</span>

          <a class="txt1 bo1 hov1" routerLink="/login">
            سجل دخول
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
