<!--<div class="signin-content">-->
  <!--<mat-card>-->
    <!--<mat-card-content>-->
      <!--<img src="assets/logo.png">-->
      <!--<form [formGroup]="form" (ngSubmit)="onSubmit()">-->
        <!--<mat-form-field class="full-width-input">-->
          <!--<input matInput placeholder="إسم المستخدم" formControlName="userName" required>-->
          <!--<mat-error *ngIf="isFieldInvalid('userName')">-->
            <!--من فضلك أدخل إسم المستخدم-->
          <!--</mat-error>-->
        <!--</mat-form-field>-->
        <!--<mat-form-field class="full-width-input">-->
          <!--<input matInput type="password" placeholder="كلمة السر" formControlName="password" required>-->
          <!--<mat-error *ngIf="isFieldInvalid('userName')">-->
            <!--من فضلك أدخل كلمة السر-->
          <!--</mat-error>-->
        <!--</mat-form-field>-->
        <!--<mat-form-field class="full-width-input">-->
          <!--<input matInput type="password" placeholder="تأكيد كلمة السر" formControlName="confirmPassword" required>-->
          <!--<mat-error *ngIf="isFieldInvalid('confirmPassword')">-->
            <!--من فضلك أكد كلمة السر-->
          <!--</mat-error>-->
        <!--</mat-form-field>-->
        <!--<mat-form-field class="full-width-input">-->
          <!--<input matInput placeholder="الاسم" formControlName="fullName" required>-->
          <!--<mat-error *ngIf="isFieldInvalid('fullName')">-->
            <!--من فضلك أدخل اسمك كاملاً-->
          <!--</mat-error>-->
        <!--</mat-form-field>-->
        <!--<mat-form-field class="full-width-input">-->
          <!--<input matInput placeholder="البريد الإلكتروني" formControlName="email" required>-->
          <!--<mat-error *ngIf="isFieldInvalid('email')">-->
            <!--من فضلك أدخل البريد الالكترون-->
          <!--</mat-error>-->
        <!--</mat-form-field>-->
        <!--<mat-form-field class="full-width-input">-->
          <!--<input matInput placeholder="رقم المحمول" formControlName="mobileNumber" required>-->
          <!--<mat-error *ngIf="isFieldInvalid('mobileNumber')">-->
            <!--من فضلك أدخل رقم هاتفك المحمول-->
          <!--</mat-error>-->
        <!--</mat-form-field>-->
        <!--<button mat-raised-button color="primary">انشئ حساب</button>-->
        <!--<div>-->
          <!--<a routerLink="/login">هل تملك حساب؟ سجل دخول</a>-->
        <!--</div>-->
      <!--</form>-->
    <!--</mat-card-content>-->
  <!--</mat-card>-->
<!--</div>-->



<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100 p-l-50 p-r-50 p-t-77 p-b-30">
      <form class="login100-form validate-form" [formGroup]="form" (ngSubmit)="onSubmit()">
					<span class="login100-form-title p-b-55">
            إنشاء حساب
          </span>

        <div class="wrap-input100 validate-input m-b-16" data-validate = "من فضلك أدخل إسم المستخدم">
          <input class="input100" type="text" placeholder="إسم المستخدم" formControlName="userName" required>
          <span class="focus-input100"></span>
          <span class="symbol-input100">
							<span class="lnr lnr-envelope"></span>
						</span>
        </div>

        <div class="wrap-input100 validate-input m-b-16" data-validate = "من فضلك أدخل كلمة المرور">
          <input class="input100" type="password" placeholder="كلمة السر" formControlName="password" required>
          <span class="focus-input100"></span>
          <span class="symbol-input100">
							<span class="lnr lnr-lock"></span>
						</span>
        </div>

        <div class="wrap-input100 validate-input m-b-16" data-validate = "من فضلك أدخل كلمة المرور">
          <input class="input100" type="password" placeholder="تأكيد كلمة السر" formControlName="confirmPassword" required>
          <span class="focus-input100"></span>
          <span class="symbol-input100">
							<span class="lnr lnr-lock"></span>
						</span>
        </div>

        <div class="wrap-input100 validate-input m-b-16" data-validate = "">
          <input class="input100" placeholder="الاسم" formControlName="fullName" required>
          <span class="focus-input100"></span>
          <span class="symbol-input100">
							<span class="lnr lnr-lock"></span>
						</span>
        </div>

        <div class="wrap-input100 validate-input m-b-16" data-validate = "">
          <input class="input100" placeholder="البريد الإلكتروني" formControlName="email" required>
          <span class="focus-input100"></span>
          <span class="symbol-input100">
							<span class="lnr lnr-lock"></span>
						</span>
        </div>

        <div class="wrap-input100 validate-input m-b-16" data-validate = "">
          <input class="input100" placeholder="رقم المحمول" formControlName="mobileNumber" required>
          <span class="focus-input100"></span>
          <span class="symbol-input100">
							<span class="lnr lnr-lock"></span>
						</span>
        </div>

        <div class="container-login100-form-btn p-t-25">
          <button type="submit" class="login100-form-btn">
            انشئ حساب
          </button>
        </div>


        <div class="text-center w-full p-t-115">
						<span class="txt1">
							هل تملك حساب؟
						</span>

          <a class="txt1 bo1 hov1" routerLink="/login">
            سجل دخول
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
